main {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.intro {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, 1fr);;
    justify-items: center;
    align-items: center;
    background-color: #B8C5D6;
    color: #272d2d;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    width: 80%;
}

.authorContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 20px;
    height: auto;
}

.button {
    background-color: #272d2d;
    color: #b8c5d6;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.button:hover {
    color: aqua;
}

@media screen and (min-width: 769px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .intro {
        height: 50vh;
    }
}
