header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    background-color: #272d2d;
    color: #edf5fc;
    width: 100vw;
    height: 20vh;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    padding: 10px;
}

.nav button {
    background-color: #272d2d;
    color: #b8c5d6;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.nav button:hover {
    color: aqua;
}

.nav button:active {
    color: black;
}

/* Color Scheme
color: gunmetal #272d2d;
color: rose quartz #A39BA8;
color: powder blue #B8C5D6;
color: alice blue #EDF5FC;
color: aqua #23CE6B;
*/

