footer {
    display: grid;
    align-items: end;
    background-color: #272d2d;
    color: #edf5fc;
    text-align: center;
    height: 5vh;
    align-self: end;
}

h6 {
    margin: 10px;
}



/* Color Scheme
color: gunmetal #272d2d;
color: rose quartz #A39BA8;
color: powder blue #B8C5D6;
color: alice blue #EDF5FC;
color: emerald #23CE6B;
*/
