.routineContainer {
    display: grid;
    gap: 20px;
    justify-self: center;
    align-items: center;
    background-color: #B8C5D6;
    color: #272d2d;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    width: 80%;
}

.tableContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

table {
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.5);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 4px solid #272d2d;
    border-collapse: collapse;

}

th, td {
  border: 1px solid #272d2d;
  padding: 8px;
}

th {
    background-color: #B8C5D6;
}

.cycleCaption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.cycleCaption:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.8);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.tableButton {
    background-color: #272d2d;
    color: #B8C5D6;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    width: 20%;
    justify-self: center;
}

.tableButton:hover {
    background-color: aqua;
    color: #272d2d;
}

.tableButton:active {
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.8);
}