.routineContainer {
    display: grid;
    gap: 20px;
    justify-self: center;
    align-items: center;
    background-color: #B8C5D6;
    color: #272d2d;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
    width: 80%;
}

.tableContainer {
    display: grid;
    justify-items: center;
}